<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <!--Form title-->
                <title>Registration</title>
                <!--Use External Css-->
                <link rel="stylesheet" type="text/css" href="/css/login.css"></link>
                <link type="text/css" href="/css/w3css.css" rel="stylesheet" />
                
            </head>
            <body>
                <!--Registration Form -->
                <div class="w3-container w3-teal">
                    <center><h2 >Spare Parts Mail : Mail Order System</h2></center> 
                     </div>
                     <fieldset>
            <div class="login-form">
                <h2 style="color:teal"><b>Please Register Here</b></h2>
                
                <form action="/createuser" method="POST">
                        <input type="text" name="username" placeholder="Username" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <input type="email" name="email" placeholder="someone@email.com" required>
                       
                        <input type="submit" value="Register User"> 
                </form>
                <a style="text-decoration:none" href="/"><p style="color: green"><b>Login</b></p></a>
            </div></fieldset>

            <!-- Footer -->
<footer class="w3-center w3-teal  w3-opacity w3-hover-opacity-off">
    <p class="w3-hover-text-green">&copy;    Copyright 2019 Tendo . K . Martyn </p>
    
    </footer>
            </body>
</html>